body {
    background-color: rgb(43, 43, 43);
    margin: 0;
    padding: 0;
}

#GUIInterface {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
}

.GUIColumn{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.GUIOption {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}

.GUIOption * {
    margin: 0 10px;
}

#hudMainDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#hudEnemiesList{
    position: fixed;
    top: 50px;
    left: 10px;
}

.hudEnemyListItem {
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hudProfilePng {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.hudEnemyHPBarContainer {
    margin-left: 5px;
    width: 120px;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.hudHPBar {
    height: 100%;
    background-color: rgba(184, 38, 38, 0.7);
}

.hudHPInfo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

#hudPlayerInfo {
    position: absolute;
    right: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
}

#hudBasePlayerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hudBarsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.hudPlayerHPBarContainer {
    width: 200px;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}

#hudPlayerAmmoBarContainer {
    width: 200px;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
    border-top: 1px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    position: relative;
}

#hudPlayerAmmoBar {
    height: 100%;
    background-color: rgba(213, 150, 14, 0.7);
}

#hudPlayerAmmoInfo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

#playerProfilePng {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.hudProfilePngDead{
    filter: grayscale(100%);
}

#hudScoreInfo {
    width: calc(100% - 20px);
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

#hudScoreInfo .infoRight {
    font-weight: bold;
}


#endScreenMainDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
}

#victoryDiv{
    margin: auto auto;
    width: 400px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid white;
    border-radius: 40px;
    padding: 40px;
}

#endTitle {
    font-size: 40px;
}

#endScoreTable {
    font-size: 20px;
    width: 240px;
    margin: 0 auto;
}

#endScoreTable * {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.endLeft {
    color: rgb(158, 158, 158);
}

#endInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#endInputLabel {
    font-size: 24px;
    margin-bottom: 5px;
}

#endNickInput {
    width: 80%;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#endConfirmBtn {
    width: 50%;
    padding: 10px 20px;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
}

#endConfirmBtn:hover {
    background-color: rgba(255,255,255,0.2);
}

#loseDiv{
    margin: auto auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid white;
    border-radius: 40px;
    padding: 40px;
}

#endLoseTitle {
    font-size: 54px;
}

#endRefreshBtn {
    margin-top: 40px;
    width: 50%;
    padding: 10px 20px;
    background-color: transparent;
    border: 4px solid white;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

#endRefreshBtn:hover {
    background-color: rgba(255,255,255,0.2);
}


#loadingScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    z-index: 1000000;
}