# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Szkoła\Aplikacje\Klienckie\Stefańczyk\WebGL\Lekcja6 FPS\Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
